fastapi
SQLAlchemy
pytz
python-jose[cryptography]
httpx
pytest
pytest-cov
pytest-html
fastapi-mail
pydantic_settings
uvicorn[standard]
psycopg2-binary
python-dotenv
itsdangerous
alembic
bcrypt
passlib
pydantic[email]
python-multipart
apscheduler
websockets
pytest-asyncio